body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
}

h1, h2, h3, p{
    color: var(--text-black);
}

h1{
    
}

h2{
    font-size: 48px;
}

h3{

}

p{

}

.background-grey{
    background-color: var(--section-white);   
}
